<h1>Compose your mail here</h1>
<%= form_with model: @service, url: sendmail_artist_path, method: :get  do |form| %>
  <div class="field">
    <%= form.rich_text_area :content %>
  </div>
  <%= form.submit "Send", class:"btn btn-dark" %>
<% end %>
