<% if notice %>

<div class="alert shadow-lg justify-content-center align-items-center text-bg-success alert-dismissible fade show w-25 fixed-bottom m-5 me-auto" role="alert">
  <%= notice %>
  <button type="button" class="btn-close btn-close-white text-center my-auto" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<% elsif alert %>

<div class="alert shadow-lg justify-content-center align-items-center text-bg-danger alert-dismissible fade show w-25 fixed-bottom m-5 me-auto" role="alert">
  <%= alert %>
  <button type="button" class="btn-close btn-close-white text-center my-auto" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<% end %>
