 <div style="position: relative; padding: 20px; text-align: center; background: linear-gradient(135deg, #FFC107 50%, #F2F2F2 50%);">
        <div style="position: absolute; top: 0; left: 50%; width: 1px; height: 100%; background-color: #fff; transform: translateX(-50%) rotate(45deg); z-index: 1;"></div>
        <div class="d-flex justify-content-between">
        <span class="display-2 fw-bold fst-italic text-white">
            Artist Directory
        </span>
        <div class="text-end">
            <p class="fw-semibold"> Copyright &copy; 2023, artist directory, Kreeti Technologies </p>
            <p class="fw-semibold">Designed by -<a href="https://www.yashbarman.me/" target="_blank" class="remove-deco fw-bold">Yash Barman</a></p>
        </div>
        </div>
</div>
