 <div style="position: relative; padding: 20px; text-align: center; background: linear-gradient(135deg, #d9534f 50%, #fff 50%);">
        <div style="position: absolute; top: 0; left: 50%; width: 1px; height: 100%; background-color: #fff; transform: translateX(-50%) rotate(45deg); z-index: 1;"></div>
        <div class="d-flex justify-content-betweeb">
        <span class="display-2 fw-bold fst-italic text-white">
            Artist Directory
        </span>
        <div>
            <p> Copyright &copy; 2023, artist directory, Kreeti Technologies </p>
            <p>Designed by -<a href="https://www.yashbarman.me/" target="_blank">Yash Barman</a></p>
        </div>
        </div>
</div>
